@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712;
  --foreground: #f3f4f6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset de Focus Outlines del navegador */
button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Ocultar flecha por defecto de selectores en IE/Edge */
select::-ms-expand {
  display: none;
}

/* Scrollbar Premium Oscura */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
}

/* Clases de utilidad para diseño premium */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
